* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: whitesmoke;
    background-color: black ;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;

}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(img/tech.png) no-repeat;
	background-size: cover; 
}

.avatar {
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
} 

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px ;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 35px;
}


.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    background: white;
    padding: 15px 10px;
    display: block;
    border-radius: 4px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
   
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}
